*
{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

.wrapper .sidebar {
    background-color: black;
    width: 200px;
    height: 100%;
    position: fixed;
    padding: 30px;

}


.wrapper .sidebar h2 {
    color: white;
    margin-bottom: 30px;
    text-transform: uppercase;
    font-size: 20px;
    text-align: center;

}

.wrapper .sidebar ul li {
    padding: 18px;
    color: white;
    font-size: 16px;
}

.wrapper .sidebar ul li a {
    color: white;
    font-size: 16px;
}

.wrapper .sidebar ul li a:hover {
    color: aqua;
}

.wrapper .sidebar ul li :hover{
background: green;

}

.header {
    margin-left: 200px;
    width: 100%;
}

.header .admin_header {
    background: black;
    padding: 15px;
    width: 100%;
    height: 70px;

}

.header .admin_header a {
    float: right;
    background-color: skyblue;
    padding: 10px;
    border-radius: 15px;
    position:fixed;
}

.info {
    margin-top: 70px;
    padding: 10px;
}


.my_form{
    width: 50%;
    margin: 0 auto;
}

label {
    display: inline-block;
    width: 150px;
    font-size: 15px;
    
}

.div_deg {
    padding: 15px;

}

input[type='text'], input[type='number'] {
    width: 30%;
    padding: 12px;
    resize: vertical;
    box-sizing: border-box;
}

table {

    border: 4px solid black;
    width: 50%;
    margin: 0 auto;
    
}

th{
    background: skyblue;
    padding: 10px;
    text-align: center;
    font-weight: bold;
}

td {
    padding: 10px;
    margin: 10px;
    text-align: center;
}

.del_btn {
    background-color: red;
    padding: 7px;
    border-radius: 10px;
    color: white;
}